:root {
    --background-color: #696969; 

}

.navbar {
    background-color: #bf95f9;
    text-align: right;
}

.navbar-brand{
    color: black;
}
body{
    background-color: var(--background-color)
}

ul{
    text-decoration: none;
}
.button-class {
    background-color: #9125e975;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
    
    
}




    .modal {
        color: #000;
    }
    .modal-dialog {
        margin-top: 15%;
    }
   

    .modal img {
        margin-right: 30px;
        margin-top: -100px;
        float: right;
        width: 200px;
        height: auto;
    }
    
    
    @media all and (max-width: 500px) {
        h1 {
          font-size: 25px;
        }
        .button-class {
            padding: 12px 20px;
            min-width: 80%;
        }
        .modal img {
            width: 100px;
            margin-right: 10px;
        }
      }